@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    font-family: 'Poppins', sans-serif;
    
}

:root {
    --background: #ff7300;
    --accent: #ffffff;
}

.titulo_persona {
    font-size: 29px;
    color: white;
    background-color: #ff7300;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}


.contenido{
   
    width:90%;
    height: 100%;
   
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}


.cta-button {
    background: var(--background);
    box-shadow: 0 0 0 0 var(--accent);
    outline: 2px solid;
    color: rgb(255, 255, 255);
    outline-color: #ff7300;
    outline-offset: 0;
    text-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px;
    width: 100%;
    letter-spacing: 0.3rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    transition: all 550ms cubic-bezier(
        .36, .63, .5, .73
    );
}

.cta-button:hover {
    box-shadow: 0 0 0 2px var(
        --accent
    );
    outline-color: rgba(
        255, 255, 255, 0
    );
    outline-offset: 15px;
    color: var(--accent);
}



.input-animated-border {
    transition: border-color 0.3s ease;
}

.input-animated-border:focus {
    border-bottom-color: #ff7300;
    outline: none;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .input-wrapper::before {
    content: attr(data-placeholder);
    position: absolute;
    left: 10px; /* Ajusta según sea necesario */
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    transition: all 0.2s;
    opacity: 1;
  }
  
  input[type="date"] {
    width: 100%;
  }
  
  input[type="date"]:valid + .input-wrapper::before,
  input[type="date"]:focus + .input-wrapper::before,
  input[type="date"]:not(:placeholder-shown) + .input-wrapper::before,
  input[type="date"]:not(:empty) + .input-wrapper::before {
    opacity: 0;
    visibility: hidden;
  }
  